@import url("https://fonts.googleapis.com/css?family=EB+Garamond:wght@700&family=Roboto+Slab:wght@700");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	margin: 0px;
}

h1, h2, h3{
	font-family: 'EB Garamond', sans-serif;
	font-weight: bold;
	font-size: 30px;
}

a{
	text-decoration: none;
}